name: Build and Release

on:
  workflow_dispatch:

  push:
    tags:
      - "release/*"

jobs:
  build:
    name: Build & Release (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest, ubuntu-24.04-arm, windows-11-arm, macos-15-intel]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up CMake and Ninja
        uses: lukka/get-cmake@latest

      - name: Extract version from tag
        id: get_version
        shell: bash
        run: |
          TAG="${GITHUB_REF#refs/tags/}"
          VERSION="${TAG#release/}"
          echo "version=$VERSION" >> "$GITHUB_OUTPUT"

      - name: Build
        shell: bash
        run: ./build.sh --verbose

      - name: Package with CPack
        shell: bash
        run: cpack --config build/Release/CPackConfig.cmake --verbose

      - name: Upload release assets
        uses: softprops/action-gh-release@v2
        with:
          name: WoodCode v${{ steps.get_version.outputs.version }}
          tag_name: release/${{ steps.get_version.outputs.version }}
          body: |
            This release contains pre-built binaries for WoodCode v${{ steps.get_version.outputs.version }}

            Changes in this release:
            - Add dencoding/decoding from multi-line files
            - Add random salt to each chunk
            - Compile using '-static' for users without c++ compiler installed
            - Update to c++20 for better date handling
            - Update build script

            For protocol doc and more info, see the main [README](https://github.com/Haha64142/Wood-Code/blob/main/README.md) for details.

            ---
            _This release was built and published automatically via GitHub Actions._
          files: |
            *.zip
            *.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Print release version
        shell: bash
        run: |
          echo "Released version: ${{ steps.get_version.outputs.version }}"
